.countdown-section{
	margin-top: -70px;	
}

.countdown-inner {
	padding: 50px;
	position: relative;

	&:before {
		position: absolute;
		content: "";
		left: -5%;
		top: 0;
		width: 200%;
		height: 100%;
		background: $white;
		border-radius: 100px 0px 0px 100px;
		box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.1);
	}

	.countdown-stat {
		h2 {
			@include mobile {
				font-size: 20px;
			}
		}
	}	
	
	@include desktop {
		padding: 50px 20px;
	}
}