.timer {
  position: relative;
  z-index: 1;
}

.timer-cell {
	display: inline-block;
	height: 100px;
	width: 115px;
	border-radius: 10px;
  background: rgba(255, 255, 255, .7);
  box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.1);
	text-align: center;
	padding-top: 15px;
	margin-right: 10px;
	&__unit {
		text-transform: capitalize;
		color: $gray;
	}

	&__value {
		font-weight: 800;
		font-size: 45px;
		line-height: 45px;
		color: $black;
		@include mobile {
			font-size: 30px;
			line-height: 30px;
		}
	}

	&_type_day &__value {
		color: $primary-color;
	}

	@include desktop {
		width: 100px;
	}
	@include mobile {
		width: 65px;
		height: 70px;
	}
}