@import '~bootstrap/dist/css/bootstrap.min.css';

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap');

@import './mixins.scss';
@import './variables.scss';

*{
margin:0;
padding: 0;
}

body{
  font-family: $base-font;
  font-size: $base-font-size;
  font-weight: 400;
  line-height: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  color: $black-lighter;
}

body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

@import './layout/header.scss';
@import './buttons.scss';